@use '../../styles/main.scss' as *;

#mainContainer {
    transition: 0.3s ease-in-out;
    width: 100vw;
    height: 60vh;
    max-height: 60vh;
    max-width: calc(1200px - 2rem);
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

#MainItem {
    transition: 0.3s ease-in-out;
}

.gridSection {
    transition: 0.3s ease-in-out;
    padding: 0 2rem;
    display: grid;
    gap: 0.5rem;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    $list : a, b, c, d, e, f, g;

    .header {
        grid-area: header;
    }

    &.ALL {
        grid-template-areas:
            "a a a b"
            "d e c b"
            "g g c f";
    }

    &.PERSONAL {
        grid-template-areas:
            "a a a b"
            "g f d b";
    }

    &.TEAM {
        grid-template-areas:
            "a a a c"
            "g e e c";
    }

    article {
        border-radius: 1rem;
        background-color: #f2f2f2;
        display: flex;
        min-width: 290px;
        min-height: 360px;
    }

    @mixin grid-item($index) {
        .#{$index} {
            grid-area: #{$index};
        }
    }

    @include grid-item(a);
    @include grid-item(b);
    @include grid-item(c);
    @include grid-item(d);
    @include grid-item(e);
    @include grid-item(f);
    @include grid-item(g);
}

@include responsive(m) {
    #MainItem {
        width: 100%;
        height: 100%;
    }

    #mainContainer {
        height: 100%;
        flex-direction: column;
        gap: 2rem;
    }

    .gridSection {
        height: 100%;
        transition: 0.3s ease-in-out;

        grid-template-areas:
            "a a a b b"
            "a a a b b"
            "a a a c c"
            "d d d d d"
            "d d d d d"
            "e e e f f"
            "e e e f f";

        article {
            min-height: 200px;
        }
    }
}