@use '../../styles/main.scss' as *;

#MainItem {
    transition: 0.3s ease-in-out;
}

.gridSection {
    max-width: 1200px;
    min-height: calc(100vh - 16rem - 35px);
    transition: 0.3s ease-in-out;
    padding: 0 2rem;
    margin: 8rem 0;
    display: grid;
    gap: 0.5rem;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    article {
        border-radius: 1rem;
        background: aliceblue;
        position: relative;
        display: flex;
        min-width: calc((1200px - 5.5rem) / 4);
        min-height: 240px;
        cursor: pointer;
        overflow: hidden;

        box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.05);
    }

    &.ALL {
        .Self {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }

        .About {
            grid-column: 2 / 3;
            grid-row: 3 / 3;
        }

        .Nike {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .Happypub {
            grid-column: 2 / 4;
            grid-row: 4 / 4;
        }

        .Movie {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .Choding {
            grid-column: 3 / 3;
            grid-row: 2 / 4;
        }

        .Minchomap {
            grid-column: 1 / 2;
            grid-row: 3 / 5;
        }
    }

    &.PERSONAL {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);

        .Nike {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        .Movie {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .Minchomap {
            grid-column: 3 / 3;
            grid-row: 1 / 3;
        }
    }

    &.TEAM {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);

        .Happypub {
            display: block;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        .Choding {
            display: block;
            grid-column: 3 / 3;
            grid-row: 1 / 3;
        }
    }
}

@include responsive(l) {
    .gridSection {
        article {
            min-height: 200px;
        }

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@include responsive(m) {
    #MainItem {
        width: 100%;
        height: 280px;
    }

    #mainContainer {
        flex-direction: column;
        gap: 2rem;
    }

    .gridSection {
        width: 100%;

        article {
            min-height: 160px;
        }

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);

        &.ALL {
            .Self {
                grid-column: 1 / 3;
                grid-row: 1 / 2;
            }

            .About {
                grid-column: 1 / 2;
                grid-row: 6 / 6;
            }

            .Nike {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }

            .Happypub {
                grid-column: 1 / 3;
                grid-row: 5 / 6;
            }

            .Movie {
                grid-column: 2 / 2;
                grid-row: 2 / 3;
            }

            .Choding {
                grid-column: 1 / 2;
                grid-row: 2 / 4;
            }

            .Minchomap {
                grid-column: 2 / 2;
                grid-row: 3 / 5;
            }
        }
    }
}