@import '../../../styles/main.scss';

#MainHeader {
    padding: 2rem;
    width: calc(100% - 4rem);
    justify-content: space-between;
    align-items: center;

    height: 60px;
    display: flex;

    h1 {
        font-size: 1rem;
    }

    .selectbox {
        padding: 0.3rem;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 1rem;

        display: flex;
        gap: 0.5rem;

        button {
            font-weight: 700;
            padding: 0.3rem 0.5rem;
            border: 0;
            background-color: transparent;
            border-radius: 1rem;
        }

        .active {
            background-color: white;
        }
    }

    .subText {}
}