@import '../../../styles/main.scss';

#MainHeader {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(9px);

    height: 60px;
    display: flex;

    h1 {
        font-size: 1rem;
        color: #ffffff;
    }

    .selectbox {
        transition: 0.3s ease;
        padding: 0.3rem;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 1rem;

        display: flex;
        gap: 0.5rem;

        button {
            transition: 0.3s ease;
            font-weight: 700;
            padding: 0.3rem 0.5rem;
            border: 0;
            background-color: transparent;
            border-radius: 1rem;
        }

        .ALL,
        .PERSONAL,
        .TEAM {
            transition: 0.3s ease;
            background-color: white;
        }
    }

    .subText {}
}