#choding {
    transition: 0.5s ease-out;
    position: relative;
    overflow: hidden;
    background-color: #fffcd8;

    .title {
        position: absolute;
        z-index: 1;
        bottom: 0.5rem;
        left: 0.5rem;
        font-size: 1.5rem;
        line-height: 1.5;

        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            left: -1.5rem;
            bottom: -1.5rem;
            padding: 1rem;
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            // background-color: #fff;
        }

        b {
            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                padding: 0.5rem;
                border-radius: 0.5rem;
                width: 47px;
                height: 33px;
                left: -0.5rem;
                bottom: calc(33px - 0.5rem);
                background-color: #fff;
            }
        }

        span {
            font-size: 1rem;
            display: block;

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                padding: 0.5rem;
                border-radius: 0.5rem;
                width: 129px;
                height: 21px;
                left: -0.5rem;
                bottom: -0.5rem;
                background-color: #fff;
            }
        }
    }

    .iphone {
        transition: 0.5s ease-out;
        background: url('/assets/main/choding_full.png') no-repeat;
        background-size: cover;
        border-radius: 2.5rem;
        position: absolute;
        bottom: -7rem;
        right: -2rem;
        rotate: 0;
    }

    &:hover {
        background-color: #2adbad;

        .iphone {
            bottom: -1rem;
            right: 0;
            rotate: -15deg;
            background-position: 0 15%;
        }
    }

    .label {
        span {
            margin-right: 0.5rem;
            padding: 0.2rem 0.5rem;
            border: 1px solid #fff;
            border-radius: 1rem;
            border-color: #fff;
            color: #fff;
            font-size: 0.8rem;
        }
    }
}