#choding {
    transition: 0.5s ease-out;
    position: relative;
    overflow: hidden;
    background-color: #fffcd8;

    .iphone {
        transition: 0.5s ease-out;
        background: url('/assets/main/choding_full.png') no-repeat;
        background-size: cover;
        border-radius: 2.5rem;
        position: absolute;
        bottom: -7rem;
        right: -2rem;
        rotate: 0;
    }

    &:hover {
        background-color: #2adbad;

        .iphone {
            bottom: -1rem;
            right: 0;
            rotate: -15deg;
            background-position: 0 15%;
        }
    }

    .label {
        span {
            margin-right: 0.5rem;
            padding: 0.2rem 0.5rem;
            border: 1px solid #fff;
            border-radius: 1rem;
            border-color: #fff;
            color: #fff;
            font-size: 0.8rem;
        }
    }
}