.detail {
    width: 100%;

    .observe {
        opacity: 0;
        transform: translateY(1rem);
        transition: 1s;
    }

    .activeObserve {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }

    main {
        box-sizing: border-box;
        padding: 8rem;

        .contents {
            padding-top: 1rem;
        }
    }
}